.horipie {
    font-family: 'Roboto', sans-serif;
}

.horipie > .chart {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.horipie > .chart > .bar {
    z-index: 1;
    display: inline-block;
    position:relative;
    height: 10px;
    background: #ccc;
    transition: all .2s ease-in;
    transform-origin: 50% 50%;
    cursor: pointer;
}

.horipie > .chart > .bar.active {
    z-index: 10;
    transform: scale(1.01, 1.75);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.horipie > .chart-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

.horipie > .chart-title-wrapper > .title {
    font-weight: bold;
}

.horipie > .chart-title-wrapper > .total-count {
    font-size: 24px;
    padding: 0 20px;
}

.horipie > .legend {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.horipie > .legend > .legend-item {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px;
    cursor: pointer;
    transition: all .2s ease-in;
    display: flex;
}

.horipie > .legend > .legend-item > .legend-item-line {
    display: inline-block;
    width: 2px;
    transition: all .2s ease-in;
}

.horipie > .legend > .legend-item > .legend-item-details {
    margin-left: 5px;
}

.horipie > .legend > .legend-item:last-child {
    margin-right: 0;
}

.horipie > .legend > .legend-item .legend-item-name {
    font-size: 13px;
    color: #888;
}

.horipie > .legend > .legend-item .legend-item-count {
    transition: all .2s ease-in;
    transform-origin: 50% 50%;
    font-size: 13px;
    color: #666;
}

.horipie > .legend > .legend-item .legend-item-percent {
    font-size: 24px;
}

.horipie > .legend > .legend-item.active {
    border-width: 4px;
}

.horipie > .legend > .legend-item.active .legend-item-percent {
    font-weight: 600;
}


.horipie > .legend > .legend-item.active .legend-item-name {
    font-weight: 600;
    color: #4B4848;
}

.horipie > .legend > .legend-item.active > .legend-item-line {
    transform: scale(2, 1);
}